/* base */
@charset "UTF-8";
html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    font-family: "Arial", 微軟正黑體;
    position: relative;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    background-color: transparent;
}

input {
    padding: 0;
    outline: 0;
    border: 0;
}
input:focus, input:active {
    outline: 0;
}
input::-ms-clear {
    display: none;
}

input[disabled] {
    background-color: #e0e0e0;
}

button {
    cursor: pointer;
    outline: 0;
    border: 0;
    background-color: transparent;
    box-sizing: border-box;
    padding: 0;
    font-family: inherit;
    color: unset;
}
button:focus, button:active {
    outline: 0;
}

ul,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style-type: none;
}

[class*='btn-'] {
    cursor: pointer;
}

div, span, section, nav {
    box-sizing: border-box;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}


/* rule-test */
iframe {
    border: 2px solid #f04542;
    width: 100%;
    height: auto;
    /* height: 100%; */
    box-sizing: border-box;
}


/* rule-iframe */
#rulesContent-wrapper{
    width: 100%;
    position: relative;
    
    height: 100%;
    /* position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;*/
    overflow: auto; 
    -webkit-overflow-scrolling: touch;
}
.rulesContent{
    /* 避免ios 滑到底部卡住，強制啟動scroll */
    min-height: calc(100% + 1px);
    /* overflow-y: scroll; */
    /* -webkit-overflow-scrolling: touch; */
}
.artical {
    font-size: 1em;
    line-height: 1.5em;
    color: #a870c9;
    padding: 10px;
    box-sizing: border-box;
}
.btn-rules-goTop {
    position: fixed;
    /* position: absolute; */
    right: 30px;
    bottom: 30px;
    width: 30px;
    height: 30px;
    -webkit-transform: translateZ(0);
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    border: 0;
    box-sizing: content-box;
    opacity: 0.4;
    outline: 0;
    padding: 10px;
    transition: opacity 0.25s ease-in-out;
}
.btn-rules-goTop::before {
    position: absolute;
    top: 14px;
    left: 23px;
    width: 4px;
    height: 24px;
    background-color: #fff;
    border-radius: 2px;
    content: "";
    display: block;
}
.btn-rules-goTop::after {
    position: absolute;
    top: 16px;
    left: 15px;
    width: 16px;
    height: 16px;
    border-bottom: 4px solid #fff;
    border-left: 4px solid #fff;
    border-radius: 2px;
    content: "";
    display: block;
    transform: rotate(135deg);
}
.btn-rules-goTop:hover {
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
}
